:root {
    --color-fg-default: #06091c;
    --color-fg-default-text: #24292f;
    --color-white:#ffffff;
    --gray-sec:#d0d6df;
    --color-border-default: #d0d7de;
    --color-separator: #f5f5f546;
    --text-gray-light:#8193b2 !important;
    --input-shadow-inset: inset 0 1px 0 rgba(208,215,222,0.2);
    --input-boder:#0033ff95;
    --input-height:30px;
    --reg-font-size:14px;
    --color-success-fg: #3fb950;
    --color-avatar-border: rgba(240,246,252,0.1);
    --color-avatar-bg: rgba(255,255,255,0.1);
}

html,body{
  overflow-x: hidden;
  color: var(--color-fg-default-text);
  background-color: var(--color-fg-default);
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont, "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

/* global classes */
.footer-cards{
  margin-left: 1em;
  display: flex;
  flex-shrink:0;
  flex-direction: column;
  border-radius: 10px;
  padding: 1em;
  position: relative;
  width: 250px;
  height: 5.5em;
  border-radius: 6px !important;
  background-color: #0c162d;
  transition: background-color .4s;
  box-shadow: 0 0 0 1px rgb(255 255 255 / 10%), 0 3px 2px rgb(0 0 0 / 4%), 0 7px 5px rgb(0 0 0 / 2%), 0 13px 10px rgb(0 0 0 / 2%), 0 22px 17px rgb(0 0 0 / 2%) !important;
}
.footer-cards .footer-cards-top{
  display: flex;
}
.icon-avatar{
  width: 32px;
  height: 32px;
  border-radius: 6px;
  box-shadow: 0 0 0 1px var(--color-avatar-border);
  background-color: var(--color-avatar-bg);
}
.label-pill{
  border: 1px solid var( --text-gray-light);
  padding: 0px 8px;
  border-radius: 12px;
}
.opacity-custom{
  opacity: .4;
}
.box-dow-one{
  box-shadow: 0 0 0 1px rgb(53 72 91 / 14%), 0 2px 2px rgb(0 0 0 / 3%), 0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%), 0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%), 0 70px 65px rgb(0 0 0 / 9%) !important;
}
.h-auto{
  height: auto;
}
.text-size-one{
  font-size: 12px;
  line-height: 1.5em;
}
.text-size-two{
  font-size: 16px;
}
.text-size-three{
  font-size: 1.17em;
}
.text-griend-pink-blue{
  background: -webkit-linear-gradient(-70deg, #db469f 0%, #2188ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
.text-code-pink{
  color: #ea4aaa;
}
.text-code-green{
  color: var(--color-success-fg);
}

.avatar{
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
.avatar-md{
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
.avatar-border{
  border: 1.5px solid var(--color-white);
}
.text-accent{
  color: var(--text-gray-light);
}
.text-light{
  color: var(--color-white) !important;
}
.text-center{
    text-align: center;
}
.font-weight-bolder{
    font-weight: 900;
}
.font-weight-bold{
    font-weight: 300 !important;
}
.btn-links{
  position: relative;
  display: inline-block;
}
.btn-links span{
  border-bottom:2px solid var(--color-border-default);
  padding-bottom: 5px;
  font-weight: 500 !important;
}
.input-style{
    height: var(--input-height);
    padding: 7px 20px;
    font-size: 18px !important;
    line-height: 28px !important;
    color: var(--text-gray-light);
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid var(--color-border-default);
    border-radius: 6px;
    outline: none;
    box-shadow: var(--input-shadow-inset);
    font-weight: 400 !important;
    font-family: "Alliance No.1",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-feature-settings: "ss02" on,"ss01" on;
}
input:focus {
    border: 2px solid var(--input-boder) ;
}
.w-full{
    width: 100%;
}
.d-none{
    display: none !important;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between !important;
}
.justify-around{
    justify-content: space-around !important;
}
.items-center{
    align-items: center !important;
}
.flex-column{
    flex-direction: column !important;
}

.w-one {
    width: 25% !important;
  }
  
  .w-two {
    width: 50% !important;
  }
  
  .w-three {
    width: 75% !important;
  }
  
  .w-five {
    width: 100% !important;
  }
  
  .h-one {
    height: 25% !important;
  }
  
  .h-two {
    height: 50% !important;
  }
  
  .h-three {
    height: 75% !important;
  }
  
  .h-four {
    height: 100% !important;
  }
  
  .t-justify {
    text-align: justify !important;
  }
  
  .t-nowrap {
    white-space: nowrap !important;
  }
  
  .text-left {
    text-align: left !important;
  }
  
  .text-right {
    text-align: right !important;
  }
  
  .text-center {
    text-align: center !important;
  }
  .font-weight-bold {
    font-weight: 700 !important;
  }
  
  .font-italic {
    font-style: italic !important;
  }
  
  .text-white {
    color: #fff !important;
  }
  
  .t-primary {
    color: #007bff !important;
  }
  .t-secondary {
    color: var(--text-gray-light);
  }
  .t-success {
    color: #28a745 !important;
  }
  .t-info {
    color: #17a2b8 !important;
  }
  .t-warning {
    color: #ffc107 !important;
  }
  .t-danger {
    color: #dc3545 !important;
  }
  .t-light {
    color: #f8f9fa !important;
  }
  .t-dark {
    color: #343a40 !important;
  }
  .relative {
    position: relative !important;
  }
  
  .absolute {
    position: absolute !important;
  }
  
  .fixed {
    position: fixed !important;
  }
  
  .sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
  }
.main-btn-style-two {
  width: 100%;
  height: 40px !important;
  margin-top: 8px;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 600;
  border: 0;
  border-radius: 0.375rem;
  padding: 10px 20px;
  background: linear-gradient(180deg, rgba(52, 183, 89, 0.15) 0%, rgba(46, 164, 79, 0) 100%),#2ea44f !important;
}
.main-btn-style-secondary {
  width: 100%;
  height: 40px !important;
  margin-top: 8px;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 600;
  border: 0;
  border-radius: 0.375rem;
  background-color: transparent;
  padding: 10px 20px;
  box-shadow: rgb(255 255 255 / 25%) 0 0 0 1px inset;
}
/* global classes */
.header-parent-container{
  padding: 0.5em .6em;
  height: 50px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  background-color: transparent;
}
.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
}
.header-sign-up-btn{
    padding: 5px 8px;
    background-color: transparent;
    border-radius: 6px !important;
    border: 1px solid var(--color-border-default) !important;
    margin-right: 10px !important;
}
.main-app-container{
    background-color: var(--color-fg-default);
    height: auto;
    width: 100%;
    margin-top: 70px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-app-container .main-top-div .text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-app-container .main-img-container .main-img{
  position: relative !important;
  bottom: -120px !important;
  width: 70%;
  z-index: 500;
}
.main-app-container .main-img-container .main-svg{
  position: relative !important;
  top: 100px !important;
  width: 70%;
}
.main-app-container .main-img-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.main-text{
    color: var(--color-white);
    width: 100%;
}
.main-text-h1{
    font-size: 40px;
}
.main-text-p{
  font-size: 20px !important;
  line-height: 28px !important;
  color: var(--text-gray-light);
  padding: 0 1em;
}
.main-inputs{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.main-stats{
  border-top: .1px solid var(--color-separator);
  margin-top: 2em;
  padding: 20px;
  width: 90%;
}
.main-total-stat{
    letter-spacing: 2px !important;
    font-size: var(--reg-font-size);
}
.main-btn-style{
    width: 100%;
    height: 40px !important;
    margin-top: 8px;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 600;
    border: 0;
    border-radius: 0.375rem;
    background: linear-gradient(180deg, rgba(52, 183, 89, 0.15) 0%, rgba(46, 164, 79, 0) 100%),#2ea44f !important;
}
.main-secondary-container{
    height: auto;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10em;
    position: relative;
    z-index: 200;
}
.main-secondary-container .in-main-secondary{
    padding: 2em;
    width: calc(100% - 100px);
    border: 1px solid var(--color-border-default);
    position: relative;
    margin-top: 5em;
}
.main-secondary-container .in-main-secondary .in-main-sec-text{
    z-index: 99 !important;
    height: 100%;
    position: relative;
}
.main-secondary-container .in-main-secondary .in-main-sec-text span:nth-child(1){
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
    color: var(--text-gray-light);
    margin-top: -.5em;
}
.main-secondary-container .in-main-secondary .in-main-sec-text span:nth-child(2){
    font-size: 1em;
    text-align: center;
    color: var(--text-gray-light);
}
.main-secondary-container .in-main-secondary .in-main-sec-text button{
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0.9rem 1.5rem 1.1rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    color: #343a40;
    background-color: var(--color-white);
    border: 0;
    border-radius: 0.375rem;
    border: 1px solid var(--color-border-default);
    margin-top: 10px;
}
.main-secondary-container .in-main-secondary .in-main-sec-text span:nth-child(4){
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0.9rem 1.5rem 1.1rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    border: 0;
    border-radius: 0.375rem;
}
.main-secondary-container .in-main-secondary .main-secondary-img{
    width: 100% !important; 
    max-height: 100%;
    bottom: 0;
    right: 0;
    position: absolute;
}
.second-section{
  height: auto;
  padding: 4em .6em;
  padding-bottom: 0;
}
.second-section div h2{
  background: -webkit-linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  font-size: 32px;
}
/* 
.second-section div ul li:nth-child(1)::marker{
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' role='img' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 32 32'%3E%3Ccircle cx='16' cy='16' r='10' fill='%23040d21'/%3E%3Cpath fill='%23d0d6df' d='M16 30a14 14 0 1 1 14-14a14.016 14.016 0 0 1-14 14Zm0-26a12 12 0 1 0 12 12A12.014 12.014 0 0 0 16 4Z'/%3E%3C/svg%3E");
} */
.second-section div ul li::marker{
  content: "";
}
.second-section div ul li:nth-child(1){
  display: flex;
  align-items: start;
  justify-content: start;
}
.second-section div ul li:nth-child(2){
  display: flex;
  align-items: center;
}
.second-section div ul li:nth-child(3),
.second-section div ul li:nth-child(5),
.second-section div ul li:nth-child(6){
  display: flex;
  align-items: center;
}
.second-section div ul li:nth-child(2) span:nth-child(2){
  padding-left: 2em; 
}
.second-section div ul li:nth-child(3) div,
.second-section div ul li:nth-child(5) div,
.second-section div ul li:nth-child(6) div{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1.3em; 
}
.second-section div ul li:nth-child(3) span:nth-child(2) ,
.second-section div ul li:nth-child(5) span:nth-child(2),
.second-section div ul li:nth-child(6) span:nth-child(2){
  padding-left: 1em; 
}
.second-section div ul li:nth-child(1) div{
  padding-left: 2em; 
}
.second-section ul{
  padding-left: 1.5em;
  position: relative;
}
.second-section ul li{
  padding-bottom: 2em;
  position: relative;
  margin-left: -20px;
  z-index: 99;
}
.second-section ul li:nth-child(7){
  padding-bottom: 1.2em;
}
.second-section ul .second-section-line{
  position: absolute;
  top: 0;
  margin-left: -9px;
  background-color: var(--gray-sec);
  width: 2px !important;
  height: calc(100% + 50px);
  opacity: .4;
}
.second-section ul li:nth-child(1) .home-git-sign{
  color: var(--color-white);
  width: 180px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.second-section ul li:nth-child(1) .home-git-sign span{
  border-bottom: 2px solid #c6c6c695;
  padding-bottom: .3em;
}

.second-section ul li:nth-child(3) span:nth-child(2),.second-section ul li:nth-child(5) span:nth-child(2),.second-section ul li:nth-child(6) span:nth-child(2){
  color: #878787;
  opacity: .4;
  font-size: 12px;
}

.second-section ul li:nth-child(4){
  position: relative;
}
.second-section ul li:nth-child(4) div{
  width: 100%;
  min-height: 100%;
  padding-bottom: 20px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #0c162d;
  border-top: 1px solid #040d21;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgb(255 255 255 / 10%), 0 34px 65px #040d21, 0 2.75px 2.21px rgb(0 0 0 / 7%), 0 6.65px 5.32px rgb(0 0 0 / 4%), 0 12.5px 10px rgb(0 0 0 / 3%), 0 22px 18px rgb(0 0 0 / 3%), 0 42px 33.4px rgb(0 0 0 / 2%), 0 100px 80px rgb(0 0 0 / 2%);
}
.second-section ul li:nth-child(7) .second-sec-li-seven-cont{
  margin-left: 2em;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
}
.second-section ul li:nth-child(7) h2{
  background: -webkit-linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  font-size: 32px;
}
.second-section ul li:nth-child(7) h3{
  color: var(--color-white);
}
.second-section ul li:nth-child(7) div .second-sec-li-type{
  width: auto;
  height: 100%;
  padding: 20px;
  color: white;
  background-color: #0c162d;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgb(255 255 255 / 10%), 0 34px 65px #040d21, 0 2.75px 2.21px rgb(0 0 0 / 7%), 0 6.65px 5.32px rgb(0 0 0 / 4%), 0 12.5px 10px rgb(0 0 0 / 3%), 0 22px 18px rgb(0 0 0 / 3%), 0 42px 33.4px rgb(0 0 0 / 2%), 0 100px 80px rgb(0 0 0 / 2%);
}

/* section three here   */
.section-three{
  position: relative;
  background-color: var(--color-white);
  height: 100%;
  padding: 3em .6em;
}
.section-three .section-two-line{
  position: absolute;
  margin-top: 70px;
  top: 0;
  margin-left: -25px;
  background-color: var(--gray-sec);
  width: 2px !important;
  height: calc(100% - 1750px);
  opacity: 1;
}
.section-three .section-three-ul li{
  padding-bottom: 2em;
}
.section-three .section-three-ul li::marker{
  content: "";
}
.section-three .section-three-ul li:nth-child(1){
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}
.section-three .section-three-ul li:nth-child(2){
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 100;
}
.section-three .section-three-ul li:nth-child(6){
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}
.section-three .section-three-ul li:nth-child(3),
.section-three .section-three-ul li:nth-child(4),
.section-three .section-three-ul li:nth-child(5){
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 100;
}
.section-three .section-three-ul li:nth-child(1) span:nth-child(2),
.section-three .section-three-ul li:nth-child(2) .text-accent,
.section-three .section-three-ul li:nth-child(6) span:nth-child(2){
  margin-left: 1.5em;
}
.section-three .section-three-ul li:nth-child(2){
  margin-top: 2em;
}
.section-three .section-three-ul li:nth-child(2) .sec-three-avatars-cont .sec-pill{
  border-radius: 500px;
  padding: 8px 10px;
  border: 1px solid var(--text-gray-light)!important;
  margin-left: -2px;
}
.section-three .section-three-ul li:nth-child(2) .sec-three-avatars-cont{
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
  margin-top: -10px;
  margin-left: .8em;
}
.section-three .section-three-ul li:nth-child(2) .sec-three-avatars-cont div{
  margin-top: .9em;
}
.section-three .section-three-ul li:nth-child(2) .sec-three-avatars-cont h2{
  font-size: 32px !important;
  line-height: 36px !important;
  font-weight: 800 !important;
}

.section-three .section-three-ul li:nth-child(2) .sec-three-link{
  width: auto;
  font-weight:500;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.section-three .section-three-ul li:nth-child(2) .sec-three-link span{
  border-bottom: 2px solid #c6c6c695;
  padding-bottom: .3em;
}
.section-three .section-three-ul li:nth-child(3) .sec-three-third-div,
.section-three .section-three-ul li:nth-child(4) .sec-three-third-div,
.section-three .section-three-ul li:nth-child(5) .sec-three-third-div{
  margin-left: .8em;
}
.section-three .section-three-ul li:nth-child(3) .sec-three-third-div h3,
.section-three .section-three-ul li:nth-child(4) .sec-three-third-div h3,
.section-three .section-three-ul li:nth-child(5) .sec-three-third-div h3{
  font-weight: 500 !important;
}
.section-three .section-three-ul li:nth-child(3) .sec-three-third-div div,
.section-three .section-three-ul li:nth-child(4) .sec-three-third-div div,
.section-three .section-three-ul li:nth-child(5) .sec-three-third-div div{
  margin-top: 3em;
  box-shadow: 0 0 0 1px rgb(53 72 91 / 14%), 0 2px 2px rgb(0 0 0 / 3%), 0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%), 0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%), 0 70px 65px rgb(0 0 0 / 9%);
  height: auto;
  border-radius: 5px;
}
.section-three .section-three-ul li:nth-child(3) .sec-three-third-div div img,
.section-three .section-three-ul li:nth-child(4) .sec-three-third-div div img,
.section-three .section-three-ul li:nth-child(5) .sec-three-third-div div img{
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.iphone-home{
  max-width: 280px;
  min-height: 568px;
  font-size: 0;
  background-color: #040d21;
  border: 1rem solid #040d21;
  border-top-color: rgb(4, 13, 33);
  border-top-style: solid;
  border-top-width: 1rem;
  border-right-color: rgb(4, 13, 33);
  border-right-style: solid;
  border-right-width: 1rem;
  border-bottom-color: rgb(4, 13, 33);
  border-bottom-style: solid;
  border-bottom-width: 1rem;
  border-left-color: rgb(4, 13, 33);
  border-left-style: solid;
  border-left-width: 1rem;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 2.6875rem;
  border-top-left-radius: 2.6875rem;
  border-top-right-radius: 2.6875rem;
  border-bottom-right-radius: 2.6875rem;
  border-bottom-left-radius: 2.6875rem;
}
.section-three .section-three-ul .section-three-bg-type-cont{
  min-height: 300px !important;
  width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
}
.section-three .section-three-ul .section-three-bg-type-cont .section-three-bg-type{
  position: absolute !important;
  top: 30px;
  left: 0;
  z-index: 100;
  width: auto;
  min-height: 280px;
  padding: 20px;
  color: white;
  background-color: #0c162d;
  border-radius: 5px;
}

.section-four div ul li::marker{
  content: "";
}

.section-four{
  height: 100vh;
  position: relative;
  padding-left: .7em;
}
.section-four img{
  bottom: 0;
  border-radius: 7px;
  position: absolute;
  z-index: 100;
}
.section-four .section-four-line{
  position: absolute;
  top: 0;
  margin-left: -25px;
  background-color: var(--gray-sec);
  opacity: .4;
  width: 2px !important;
  height: 100%;
}
.section-four .section-ul-div{
  height: calc(100vh - 200px);
  overflow-y: auto;
}
.section-four .section-ul-div li{
  padding: 4em 4px 7em .2em;
}
.section-four .section-ul-div li:nth-child(1) h1{
  font-weight: bolder;
  font-size: 32px;
  color: var(--color-white);
}
.section-four .section-ul-div li:nth-child(1) h1 span{
  background: -webkit-linear-gradient(-70deg, #3bf0e4 0%, #bca1f7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
.section-four .section-ul-div .section-link{
  color: var(--color-white);
  font-weight: 500;
  margin-top: -10px;
  border-bottom: 2px solid var(--text-gray-light);
  padding: 0 0 10px 0;
}
.section-four .section-ul-div ul li{
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 99;
}
.section-four .section-ul-div ul li:nth-child(2) span:nth-child(2),
.section-four .section-ul-div ul li:nth-child(3) span:nth-child(2),
.section-four .section-ul-div ul li:nth-child(4) span:nth-child(2){
  color: var(--color-white);
  font-weight: bold;
  font-size: 20px;
  padding-left: 1em;
  padding-right: 1em;
}

.section-five{
  background-color: var(--color-white);
  padding: 4em 1em;
  position: relative;
}
.section-five h1{
  font-size: 32px !important;
  line-height: 36px !important;
  font-weight: 800 !important;
}
.text-gradient-purple-coral {
  background: -webkit-linear-gradient(-70deg, #9867f0 0%, #ed4e50 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
.section-five .section-link-one{
  font-weight: 700;
  padding: 0 0 10px 0;
}
.section-five .section-link-one span{
  font-weight: 700;
  border-bottom: 2px solid var(--gray-sec);
}
.section-five .section-grp-one{
  margin-top: 2em;
}
.section-five .section-grp-one span{
  font-size: 20px !important;
  line-height: 28px !important;
  font-weight: 500;
}
.section-five .section-grp-one .vid-container{
  margin-top: 2em;
}
.section-five .section-grp-one .vid-container,
.section-five .section-grp-one video,
.section-five .section-grp-one img{
  border-radius: 5px;
  width:100%;
  height: auto;
}
.section-five .section-grp-two{
  margin-top: 5em;
}
.section-five .section-grp-two .section-grp-two-title{
  font-family: "Alliance No.1",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-feature-settings: "ss02" on,"ss01" on;
  font-weight: 600 !important;
  letter-spacing: -0.01em !important;
  background: -webkit-linear-gradient(-70deg, #9867f0 0%, #ed4e50 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  font-size: 28px !important;
  line-height: 32px !important;
  font-weight: 800 !important;
}
.section-five .section-grp-two .section-grp-two-sub-t{
  font-size: 20px !important;
  line-height: 28px !important;
  font-weight: bold;
  margin-top: .6em !important;
}
.section-five .section-grp-two .section-link{
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-top: 2em;
  padding: 0 0 10px 0;
}
.section-five .section-grp-two .section-link span{
  padding-bottom: 10px;
  border-bottom: 2px solid var(--color-border-default);
}
.section-five .section-grp-two img{
  margin-top: 2em;
}
.section-five .section-grp-three .section-sub-t{
  font-weight: 500;
  margin-top: 4em;
  font-size: 20px !important;
  line-height: 28px !important;
}
.section-five .section-grp-three .img-grp,
.section-five .section-grp-three .main-img{
  margin-top: 2em;
}
.section-five .section-grp-three .last-part-div h3{
  font-size: 20px !important;
  line-height: 28px !important;
  margin-top: 2em;
}
.section-grp-four div:nth-child(1){
  margin-top: 10em;
}
.section-five .section-grp-four .section-link-two{
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-top: 2em;
  padding: 0 0 10px 0;
}
.section-five .section-grp-four .section-link-two span{
  padding-bottom: 10px;
  border-bottom: 2px solid var(--color-border-default);
}
.section-five .section-grp-four .section-link-two div{
  margin-top: 5px;
}
.section-five .section-grp-four div:nth-child(2) img:nth-child(1){
  position: absolute;
  margin-top: 2em;
  z-index: 99;
  border-radius: 5px;
}
.section-five .section-grp-four div:nth-child(2) img:nth-child(2){
  position: relative;
  margin-top: 25%;
  width: 90%;
  margin-left: 5%;
  border-radius: 5px;
}
.section-six{
  height: auto;
  position: relative;
  overflow: hidden;
}
.section-six ul li::marker{
  content: "";
}
.section-six ul li .firt-li-div{
  margin-left: 1em;
  padding-bottom: 3em;
}
.section-six ul li{
  position: relative;
  z-index: 99;
}
.section-six ul .section-six-line{
  top: 5em;
  position: absolute;
  margin-left: -9px;
  background-color: var(--gray-sec);
  width: 2px !important;
  height: calc(100% + 50px);
  opacity: .4;
}
.section-six ul li:nth-child(1){
  display: flex;
  align-items: start;
}
.section-six ul li:nth-child(1) h1{
  color: var(--color-white);
  font-size: 32px !important;
  line-height: 36px !important;
  font-weight: 800 !important;
}
.section-six ul li:nth-child(1) h1 span{
  background: -webkit-linear-gradient(-70deg, #ff7170 0%, #ffe57f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
.section-six ul li:nth-child(1) h1{
  color: var(--color-white);
  font-size: 32px !important;
  line-height: 36px !important;
  font-weight: 800 !important;
}
.section-six ul li:nth-child(1) .firt-li-div h3{
  border-bottom: 2px solid var(--color-separator);
  padding-bottom: .3em;
  font-size: 16px !important;
  line-height: 24px !important;
  color: var(--color-white);
}
.section-six ul li{
  padding-right: 15px;
}
.section-six li:nth-child(2){
  display: flex;
  align-items: flex-start;
}
.section-six li:nth-child(2) .firt-li-div h4{
  font-size: 20px !important;
  line-height: 28px !important;
  color: var(--color-white);
}
.section-six li .firt-li-div .imgs-container{
  position: relative;
}
/* .section-six li .firt-li-div .imgs-container img{
  position: absolute !important;   
} */
.section-six li .firt-li-div .imgs-container img:nth-child(1){
  margin-left: 9%;
  border-radius: 5px;
  z-index: 44;  
  top: 0;
  visibility: visible;
  width: 80% !important;
  box-shadow: 0 0 0 1px rgb(255 255 255 / 10%), 0 34px 65px #040d21, 0 2.75px 2.21px rgb(0 0 0 / 7%), 0 6.65px 5.32px rgb(0 0 0 / 4%), 0 12.5px 10px rgb(0 0 0 / 3%), 0 22px 18px rgb(0 0 0 / 3%), 0 42px 33.4px rgb(0 0 0 / 2%), 0 100px 80px rgb(0 0 0 / 2%);
}
.section-six li .firt-li-div .imgs-container img:nth-child(2){
  position: absolute !important;
  left: 0;
  border-radius: 5px;
  top: 16%;
  left: 5%;
  z-index: 50;  
  visibility: visible;
  width: 90% !important;
  box-shadow: 0 0 0 1px rgb(255 255 255 / 10%), 0 34px 65px #040d21, 0 2.75px 2.21px rgb(0 0 0 / 7%), 0 6.65px 5.32px rgb(0 0 0 / 4%), 0 12.5px 10px rgb(0 0 0 / 3%), 0 22px 18px rgb(0 0 0 / 3%), 0 42px 33.4px rgb(0 0 0 / 2%), 0 100px 80px rgb(0 0 0 / 2%);
}
.section-six li .firt-li-div .imgs-container img:nth-child(3){
  position: absolute !important;
  left: 0;
  border-radius: 5px;
  z-index: 99;
  top: 35%;
  visibility: visible;
  box-shadow: 0 0 65px rgb(237 78 80 / 40%), 0 0 0 1px rgb(255 255 255 / 10%), 0 2px 2px rgb(0 0 0 / 3%), 0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%), 0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%), 0 70px 65px rgb(0 0 0 / 9%);
  animation: .6s cubic-bezier(0.16, 1, 0.3, 1) home-codeql-step-1 forwards;
}
.section-six li .firt-li-div .imgs-container img:nth-child(4){
  position: absolute;
  left: 0;
  margin-top: 60%;
  border-radius: 5px;
  z-index: 50;  
  visibility: visible;
}

.section-six ul li:nth-child(3){
  position: relative;
  display: flex;
  align-items: start;
  margin-top: 30%;
}

.section-six ul li:nth-child(4){
  display: flex;
  align-items: start;
}
.section-six ul li:nth-child(5){
  display: flex;
  align-items: start;
}
.section-six ul li:nth-child(5) h4{
  font-size: 20px !important;
  line-height: 28px !important;
}
.section-six ul li:nth-child(5) .firt-li-div .img-w-red-s{
  position: relative;
  border-radius: 5px;
  visibility: visible;
  box-shadow: 0 0 65px rgb(237 78 80 / 40%), 0 0 0 1px rgb(255 255 255 / 10%), 0 2px 2px rgb(0 0 0 / 3%), 0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%), 0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%), 0 70px 65px rgb(0 0 0 / 9%);
  animation: .4s cubic-bezier(0.16, 1, 0.3, 1) home-secret-alert forwards;
}
.section-six ul li:nth-child(6),
.section-six ul li:nth-child(7){
  display: flex;
  align-items: start;
}

.section-six ul li:nth-child(8){
  display: flex;
  align-items: start;
}
.section-six ul li:nth-child(8) .firt-li-div h4{
  font-size: 20px !important;
  line-height: 28px !important;
}
.section-six .img-bottom{
  position: relative;
  width: 65.25rem;
  margin-top: -35%;
  margin-left: -1.6875rem;
  transform: translateX(-44.3%);
}
.section-seven{
  position: relative;
  height: 100%;
  background-color: var(--color-white);
}
.section-seven ul{
  list-style: none;
  padding-top: 4em;
}
.section-seven ul li{
  display: flex;
  align-items: start;
  position: relative;
  z-index: 99;
}
.section-seven ul li{
  padding: 0 .6em 1em 1em;
}
.section-seven ul .section-seven-line{
  position: absolute;
  top: 0;
  margin-left: -9px;
  background-color: var(--gray-sec);
  width: 2px !important;
  height: 100%;
  opacity: .4;
}
.section-seven ul li:nth-child(1) h2{
  color: var(--color-fg-default-text);
  font-size: 32px !important;
  line-height: 36px !important;
  font-weight: 800 !important;
}
.section-seven ul li:nth-child(2) h3{
  font-size: 20px !important;
  line-height: 28px !important;
  font-weight: 500 !important;
}
.section-seven ul li:nth-child(2) .main-sec-div .img-cont img{
  border-radius: 5px;
}
.section-seven ul li:nth-child(2) .main-sec-div .img-cont .img-one-div{
  position: relative;
  border-radius: 5px;
  width: 70%;
  opacity: .5;
  top: 2em;
  box-shadow: 0 0 0 1px rgb(53 72 91 / 14%), 0 2px 2px rgb(0 0 0 / 3%), 0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%), 0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%), 0 70px 65px rgb(0 0 0 / 9%) !important
}
.section-seven ul li:nth-child(2) .main-sec-div .img-cont .img-two-div{
  position: relative;
  border-radius: 5px;
  width: 70%;
  top: -4em;
  left: 5em;
  border: 2px solid #28a745;
  box-shadow: 0 0 0 1px rgb(53 72 91 / 14%), 0 2px 2px rgb(0 0 0 / 3%), 0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%), 0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%), 0 70px 65px rgb(0 0 0 / 9%) !important
}
.section-seven ul li:nth-child(3){
  margin-top: 2em;
}
.section-seven ul li:nth-child(3) h3{
  font-size: 20px !important;
  line-height: 28px !important;
  font-weight: 500 !important;
}
.section-seven ul li:nth-child(3) .main-sec-div .img-cont img{
  border-radius: 5px;
}
.section-seven ul li:nth-child(3) .main-sec-div .img-cont .img-one-div{
  position: relative;
  border-radius: 5px;
  width: 70%;
  opacity: .5;
  top: 2em;
  box-shadow: 0 0 0 1px rgb(53 72 91 / 14%), 0 2px 2px rgb(0 0 0 / 3%), 0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%), 0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%), 0 70px 65px rgb(0 0 0 / 9%) !important
}
.section-seven ul li:nth-child(3) .main-sec-div .img-cont .img-two-div{
  position: relative;
  border-radius: 5px;
  width: 70%;
  top: -8em;
  left: 5em;
  box-shadow: 0 0 0 1px rgb(53 72 91 / 14%), 0 2px 2px rgb(0 0 0 / 3%), 0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%), 0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%), 0 70px 65px rgb(0 0 0 / 9%) !important
}

.section-seven ul li:nth-child(4) .main-sec-div,
.section-seven ul li:nth-child(5) .main-sec-div,
.section-seven ul li:nth-child(6) .main-sec-div{
  margin-left: .8em;
}
.section-seven ul{
  margin-top: 0;
  margin-bottom: 0;
}
.section-seven ul li:nth-child(7){
  margin-top: 3em;
  padding-bottom: 7em;
}
.section-seven ul li:nth-child(7) div h3{
  font-size: 20px !important;
  line-height: 28px !important;
  font-weight: 500 !important;
}
.section-seven ul li:nth-child(7) .main-sec-div div .sub-title{
  line-height: 10px;
  margin-top: 3em;
}
.section-seven ul li:nth-child(7) .main-sec-div div .support{
  font-size: 16px !important;
  line-height: 10px !important;
  font-weight: 500;
}
.section-seven ul li:nth-child(7) .main-sec-div div .sec-five-link-one{
  margin-top: 2em;
}
.section-seven ul li:nth-child(7) .main-sec-div div .sec-h3{
  background: -webkit-linear-gradient(-70deg, #2188ff 0%, #804eda 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  font-size: 20px !important;
  line-height: 20px !important;
  font-weight: 700 !important;
}
.section-seven ul li:nth-child(7) .main-sec-div .img-cont img{
  border-radius: 5px;
}
.section-seven ul li:nth-child(7) .main-sec-div .img-cont .img-one-div{
  position: relative;
  border-radius: 5px;
  width: 70%;
  opacity: .5;
  top: 2em;
  box-shadow: 0 0 0 1px rgb(53 72 91 / 14%), 0 2px 2px rgb(0 0 0 / 3%), 0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%), 0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%), 0 70px 65px rgb(0 0 0 / 9%) !important
}
.section-seven ul li:nth-child(7) .main-sec-div .img-cont .img-two-div{
  position: relative;
  border-radius: 5px;
  width: 70%;
  top: -5em;
  left: 5em;
  box-shadow: 0 0 0 1px rgb(53 72 91 / 14%), 0 2px 2px rgb(0 0 0 / 3%), 0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%), 0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%), 0 70px 65px rgb(0 0 0 / 9%) !important
}
.section-eight{
  height: 100%;
  position: relative;
}
.section-eight .img-cont{
  position: relative;
  margin-top: -25%;
  z-index: 20;
}
.section-eight .svg-cont{
  position: absolute;
  left: 0;
  right: 0;
}
.section-eight .main-div{
  position: relative;
}
.section-eight .main-div .cont-title{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-eight .main-div .cont-title h1{
  text-align: center;
  font-size: 40px !important;
  line-height: 44px !important;
  font-weight: 800 !important;
  color: var(--color-white);
}
.section-eight .main-div .cont-title h3{
  text-align: center;
  font-size: 24px !important;
  line-height: 32px !important;
  font-weight: 450;
}
.section-eight .main-div .cont-title .buttons-bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.section-eight .main-div .cards-cont{
  padding: 4em 0;
  width: 100%;

}
.section-eight .main-div .cards-cont .cards-two,
.section-eight .main-div .cards-cont .cards-four{
  margin-left: -5em;
}
.section-eight .main-div .cards-cont .cards-one,
.section-eight .main-div .cards-cont .cards-two,
.section-eight .main-div  .cards-cont .cards-three,
.section-eight .main-div  .cards-cont .cards-four{
  margin-top: 1em !important;
}

footer{
  padding: 5em 0 0 0;
  height: 100%;
  background-color: var(--color-white);
}
footer .main-cont .img-cont{
  padding-bottom: 2em;
}
footer .main-cont{
  padding-left: 2em;
  padding-right: 2em;
}
footer .main-cont .links-cont{
  width: 100%;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .main-cont .links-cont div{
  display: flex;
  flex-direction: column;
}
footer .main-cont .links-cont div span{
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  opacity: .8;
}
footer .main-cont .links-cont div span:hover{
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}
footer .ending{
  display: flex;
  align-items: center;
  flex-wrap:wrap-reverse;
  justify-content: space-between;
  height: 100px;
  font-size: 12px;
  padding: 3em 2em;
  background-color: #f4f4f4;
}
footer .ending .links span:hover{
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}
footer .ending .img-cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 14em;
}
footer .ending-text-cont{
  display: flex;
}
footer .ending-text-cont .links{
  margin-left: 1em;
}
footer .ending-text-cont .links span{
  margin-left: 5px;
}
footer .ending .img-cont div{
  height: 25px;
  width: 25px;
}






/* desktop view */
@media only screen and (min-width: 1013px) {
  .header-parent-container{
    padding: 1.4em 4em;
  }
  header div{
    display: flex;
    align-items: center !important;
    position: relative;
    z-index: 100;
  }
  header .desktop-menu{
    display: flex !important;
    align-items: center !important;
  }
  header .desktop-menu span{
    margin-left: 30px;
    color: var(--color-white);
  }
  header .header-menu .menu-icon{
    display: none;
  }
  header .header-menu .signin-text{
    display: block !important;
    color: var(--color-white);
    margin-right: 1em;
  }
  header .header-menu .header-input{
    display: block !important;
    margin-right: 1em !important;
  }
  header .header-menu .header-input input{
    padding: 1em;
    border: none;
    border-radius: 5px;
    color: var(--color-white) !important;
    background-color: rgba(191, 191, 191, 0.201);
  }
  .main-app-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-app-container::before{
    content: "";
    position: absolute;
    z-index: 90;
    top: 70%;
    bottom: 0;
    left: 50%;
    width: 200%;
    height: 70%;
    transform: translate(-50%, -50%);
    background-image: url("https://github.githubassets.com/images/modules/site/home/hero-glow.svg");
  }
  .main-app-container .main-text{
    text-align: left !important;
  }
  .main-app-container .main-top-div{
    position: relative !important;
    width: 100%;
    height: calc(100vh - 400px);
    left: 5em;
    padding: 0 4em;
  }
  .main-app-container .main-top-div .text-container{
    text-align: left;
  }
  .main-app-container .main-text .main-text-h1{
    font-size: 72px !important;
    line-height: 76px !important;
  }
  .main-app-container .main-text .main-text-p{
    font-size: 24px !important;
    line-height: 32px !important;
  }
  .main-app-container .main-top-div .text-container{
    position: absolute;
    width: 50%;
    z-index: 99;
  }
  .main-app-container .main-top-div .text-container .main-inputs{
    display: flex !important;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    width: 100%;
  }
  .main-app-container .main-top-div .text-container .main-inputs .input-style,
  .main-app-container .main-top-div .text-container .main-inputs .main-input-style{
    width:45% !important;
  }
  .main-app-container .main-top-div .text-container .main-inputs .main-btn-style{
    width: 30%;
    margin-top: 0 !important;
    margin-left: 8px;
    height: 50px !important;
  }
  .main-app-container .vid-container{
    display: block !important;
    position: relative;
    opacity: .5;
    top: -12em;
    right: 0;
    transform: translateX(30%)
  }
  .main-app-container .main-stats{
    position: absolute;
    left: 3em;
    right: 0;
    bottom: 3em;
    display: flex;
    justify-content: start !important;
    align-items: stretch !important;
  }
  .main-app-container .main-stats div{
    padding-right: 6em;
    display: flex !important;
    align-items: start !important;
    justify-content: start !important;
    flex-direction: column !important;
  }
  .main-app-container .main-img-container{
    position: relative;
    z-index: 1000;
  }
  .main-app-container .main-img-container .main-img{
    width: 35%;
    position: absolute;
    right: 0;
    bottom: -10em;
    margin-right: -55em;
  }
  .main-secondary-container{
    position: relative;
    height: calc(100vh - 200px);
    padding: 0 4em 0em 4em;
  }
  .main-secondary-container .in-main-secondary{
    position: relative;
    display: flex;
    border-radius: 8px;
  }
  .main-secondary-container .in-main-secondary .in-main-sec-text{
    display: flex !important;
    align-items: flex-start !important;
    flex-direction: column !important;
    max-width: 350px;
  }
  .main-secondary-container .in-main-secondary .in-main-sec-text span{
    text-align: left !important;
  }
  .main-secondary-container .in-main-secondary .in-main-sec-text span:nth-child(1){
    font-size: 26px;
    line-height: 28px;
  }
  .main-secondary-container .in-main-secondary .in-main-sec-text span:nth-child(2){
    margin-top: 5px;
  }
  .main-secondary-container .in-main-secondary .in-main-sec-text .btn-cont{
    display: flex !important;
    flex-direction: row !important;
  }
  .main-secondary-container .in-main-secondary .in-main-sec-text .btn-cont span{
    margin-left: 2em;
  }
  .main-secondary-container .in-main-secondary .main-secondary-img{
    width: 70% !important;
  }
  .nav-container{
    padding: 2em 10em;
    position: sticky !important;
    position: -webkit-sticky;
    top: 0 !important;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: auto;
    font-size: 18px;
    background-color: var(--color-white);
    z-index: 2000;
  }
  .nav-container span{
    opacity: .8;
  }
  .second-section{
    padding-left: 4em;
    padding-right: 4em;
  }
  .second-section h2{
    font-size: 64px !important;
    line-height: 68px !important;
    max-width: 600px;
    margin-left: 50px;
  }
  .second-section li:nth-child(1) h3{
    max-width: 500px;
    font-size: 24px !important;
    margin-top: 0;
  }
  .second-section li:nth-child(1){
    padding-top: 0;
  }
  .second-section li:nth-child(5) .second-sec-li-img{
    width: 100%;
    position: relative;
  }
  .second-section  .second-sec-title {
    max-width:40% ;
    margin-left: -6em;
  }
  .second-section  .second-sec-title h2{
    margin-top: 0;
    margin-left: 0;
  }
  .second-section .home-git-log-dark li:nth-child(7) .second-sec-li-seven-cont{
    display: flex !important;
    flex-direction:row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .section-three{
    padding-left: 4em;
    padding-right: 4em;
  }
  .section-three .section-two-line{
    margin-top: 0;
  }
  .section-three ul li:nth-child(2),
  .section-three ul li:nth-child(3),
  .section-three ul li:nth-child(4),
  .section-three ul li:nth-child(5),
  .section-three ul li:nth-child(6),
  .section-three ul li:nth-child(7){
    margin-left: 6em;
  }
  .section-three .curve-line{
    margin-top: 3em;
    margin-left: 14px;
    width: 100px;
    display: block !important;
  }
  .section-three .curve-line-two{
    display: block !important;
    width: 100px;
    position: absolute;
    margin-left: -97px;
    margin-bottom: -140px;
    bottom: 0;
  }
  .section-three .li-two{
    margin-top: 100px !important;
  }
  .section-three .section-two-line{
    position: absolute;
    margin-top: 70px;
    top: 0;
    margin-left: -25px;
    background-color: var(--gray-sec);
    width: 2px !important;
    height:100%;
    opacity: 1;
  }
  .section-three .section-two-line-two{
    position: absolute;
    margin-top: 230px;
    top: 0;
    margin-left: 70px;
    background-color: var(--gray-sec);
    width: 2px !important;
    height: calc(100% - 1300px);
    opacity: 1;
  }
  .section-three .section-three-ul .li-two .sec-three-avatars-cont .three-h2{
    max-width: 65%;
    font-size: 64px !important;
    line-height: 68px !important;
  }
  .section-three .li-three .sec-three-third-div,
  .section-three .li-four .sec-three-third-div,
  .section-three .li-five .sec-three-third-div{
    display: flex !important;
    flex-direction: row !important;
    font-size: 24px !important;
    line-height: 32px !important;
    align-items: center !important;
    justify-content: space-between;
  }
  .section-three .li-three .li-three-l-s{
    margin-top: 40px !important;
  }
  .section-three .section-three-ul .li-three,
  .section-three .section-three-ul .li-four,
  .section-three .section-three-ul .li-five{
    margin-top: 100px;
  }
  .section-three .section-three-ul .li-three .sec-three-third-div div{
    margin-top: 0 !important;
  }
  .section-three .li-three .sec-three-third-div h3{
    max-width: 42%
  }
  .section-three .li-four .sec-three-third-div h3{
    max-width: 50%;
  }
  .section-three .li-five .sec-three-third-div h3{
    max-width: 50%;
  }
  .section-three .li-three .sec-three-third-div img{
    width: 500px !important;
  }
  .section-three .li-four .li-four-l-s{
    margin-top: 220px !important;
  }
  .section-three .li-four .sec-three-third-div img{
    width: 500px !important;
  }
  .section-three .li-five .sec-three-third-div img{
    width: 500px !important;
  }
  .section-three .li-five .li-five-l-s{
    margin-top: 210px !important;
  }
  .section-three .li-seven .li-seven-main-cont{
    margin-top: 10em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .section-three .li-seven .li-seven-main-cont .phone-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-three .li-seven .li-seven-main-cont .phone-container .iphone-home{
    margin-left: -100px;
  }
  .section-three .section-three-ul .section-three-bg-type-cont{
    height: auto !important;
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0;
  }
  .section-three .section-three-ul .section-three-bg-type-cont .overlapping-img{
    height: 165% !important;
    width: 120% !important;
    top: -2em !important;
    right: -10em !important;
    box-shadow: 0 0 0 1px rgb(53 72 91 / 14%), 0 2.75px 2.21px rgb(0 0 0 / 7%), 0 6.65px 5.32px rgb(0 0 0 / 4%), 0 12.5px 10px rgb(0 0 0 / 3%), 0 22px 18px rgb(0 0 0 / 3%), 0 42px 33.4px rgb(0 0 0 / 2%), 0 100px 80px rgb(0 0 0 / 2%);
  }
  .section-three .section-three-ul .section-three-bg-type-cont .section-three-bg-type{
    width: 400px;
  }
}